*$
*.BAK
*.Z
*.a
*.bak
*.elc
*.exe
*.la
*.ln
*.lo
*.o
*.obj
*.olb
*.old
*.orig
*.rej
*.so
*~
,*
.#*
.*.swp
.del-*
.deps
.libs
.lvimrc
.make.state
.nse_depinfo
.tarball-version
.version
/ABOUT-NLS
/aclocal.m4
/build/
/config.cache
/config.h
/config.log
/config.status
/config/
/configure
/intl
/libtool
/m4/
!/m4/ac_path_lib.m4
!/m4/ax_cxx_compile_stdcxx.m4
/po/*.gmo
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sed
/po/remove-potcdate.sin
/src/centerim5
/src/git-version
/src/git-version.h
Makefile
Makefile.in
Makefile.in.in
TAGS
_$*
autom4te.cache
config.h.in
core
cscope.*
doc/cppconsui*
doc/doxygen-cppconsui.conf
doc/html
doc/latex
stamp-*
tags
